<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Find It</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/leader-line.css" rel="stylesheet"/>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link rel="icon" href="~/Images/finditlogo.png" type="image/png" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body-costumer">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
